@import '_variables.scss';

.projects{
    margin-bottom: 120px;
    .card{
        border: 0;
        cursor: pointer;
        transition: all 0.3s ease;
        .cover-l{
            width: 730px;
            height: 698px;
            overflow: hidden;
            border-radius: 8px;
            img{
                transition: all 0.8s ease;
                width: 730px;
                height: 698px;
                border-radius: 8px;
            }
        }
        .cover-m{
            width: 350px;
            height: 300px;
            overflow: hidden;
            border-radius: 8px;
            img{
                transition: all 0.8s ease;
                width: 350px;
                height: 300px;
                border-radius: 8px;
            }
        }
        .card-body{
            padding: 16px 0 32px 0;
            h5{
                color: $g-900;
            }
            p.content{
                color: $g-700;
            }
        }
        &:hover{
            color: $main;
        }
        &:hover .cover-l{
            img{
                transform: scale(1.2);
            }
        }
        &:hover .cover-m{
            img{
                transform: scale(1.2);
            }
        }
    }
}
@media (max-width:992px) {
    .projects{
        margin-bottom: 64px;
        flex-direction: column;
    }
}