@import '_color.scss';


h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.06em;
    margin-bottom: 0;
}

h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.16em;
    margin-bottom: 0;
}

h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.06em;
    margin-bottom: 0;
}

h4{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin-bottom: 0;
}
p.content{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.02em;
    margin-bottom: 0;
}

p.highlight{
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.02em;
    margin-bottom: 0;
}

small.content{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin-bottom: 0;
}

small.highlight{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin-bottom: 0;
}