$main:#FF512F;
$white:#FFFFFF;
$black:#000000;
$g-100:#FAFAFA;
$g-200:#EFEFEF;
$g-300:#E5E5E5;
$g-400:#CCCCCC;
$g-500:#B2B2B2;
$g-600:#999999;
$g-700:#666666;
$g-800:#333333;
$g-900:#111111;

$code-bg:#23272E;
$code-basic:#A0A9B7;
$code-tag:#E1606B;


$grid-gutter-width: 2rem;