@import 'scss/bootstrap.scss';
@import '_button.scss';
@import '_variables.scss';
@import '_font.scss';
@import '_nav.scss';
@import '_footer.scss';
@import '_cards.scss';
@import '_container.scss';
@import '_dropdown-menu.scss';
@import '_shadow.scss';
@import '_submenu.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', 'Noto Sans TC', sans-serif;
}

body{
    .title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            color: $g-900;
        }
        p.content{
            color: $g-800;
        }
        margin-top: 128px;
        margin-bottom: 64px;
    }

    .introduce{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 136px;
        .basic-info{
            display: flex;
            flex-direction: column;
            img{
                width: 152px;
                height: 152px;
                margin-bottom: 40px;
            }
            .my-info{
                display: flex;
                flex-direction: column;
                gap: 32px;
                h2{
                    color: $g-900;
                    text-align: left;
                    margin-bottom: 0;
                }
                div{
                    display: flex;
                    gap: 24px;
                    .item{
                        display: flex;
                        flex-direction: column;
                        gap: 0;
                        h3{
                            color: $main;
                        }
                        small.content{
                            color: $g-700;
                        }
                    }
                }
                .contact{
                    flex-direction: column;
                    gap: 8px;
                    button.tertiary{
                        .content{
                            gap: 4px;
                            align-items: center;
                        }
                        position: relative;
                        .overlay {
                            display: none;
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 100%;
                            background-color: rgba(0, 0, 0, 0.8);
                            z-index: 1;
                            border-radius: 8px;
                            .text {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                color: #fff;
                                font-size: 14px;
                                font-weight: bold;
                            }
                        }
                        .show {
                        display: block;
                        }
                    }
                }
            }
        }
        .text{
            p.content{
                color: $g-800;
            }
        }
    }
    .skill{
        display: flex;
        gap: 32px;
        justify-content: center;
        margin-top: 122px;
        margin-bottom: 210px;
        .figma{
            width: 48px;
            height: 48px;
            background-image: url(../images/figma-default.png);
            background-size: cover;
            transition: all 0.3s ease;
            &:hover{
                background-image: url(../images/figma.png);
                scale: 1.2;
            }
        }
        .ai{
            width: 48px;
            height: 48px;
            background-image: url(../images/ai-default.png);
            background-size: cover;
            transition: all 0.3s ease;
            &:hover{
                background-image: url(../images/ai.png);
                scale: 1.2;
            }
        }
        .ps{
            width: 48px;
            height: 48px;
            background-image: url(../images/ps-default.png);
            background-size: cover;
            transition: all 0.3s ease;
            &:hover{
                background-image: url(../images/ps.png);
                scale: 1.2;
            }
        }
        .h5{
            width: 48px;
            height: 48px;
            background-image: url(../images/h5-default.png);
            background-size: cover;
            transition: all 0.3s ease;
            &:hover{
                background-image: url(../images/h5.png);
                scale: 1.2;
            }
        }
        .sass{
            width: 48px;
            height: 48px;
            background-image: url(../images/sass-default.png);
            background-size: cover;
            transition: all 0.3s ease;
            &:hover{
                background-image: url(../images/sass.png);
                scale: 1.2;
            }
        }
        .bs{
            width: 48px;
            height: 48px;
            background-image: url(../images/bs-default.png);
            background-size: cover;
            transition: all 0.3s ease;
            &:hover{
                background-image: url(../images/bs.png);
                scale: 1.2;
            }
        }
        .js{
            width: 48px;
            height: 48px;
            background-image: url(../images/js-default.png);
            background-size: cover;
            transition: all 0.3s ease;
            &:hover{
                background-image: url(../images/js.png);
                scale: 1.2;
            }
        }
        .git{
            width: 48px;
            height: 48px;
            background-image: url(../images/git-default.png);
            background-size: cover;
            transition: all 0.3s ease;
            &:hover{
                background-image: url(../images/git.png);
                scale: 1.2;
            }
        }
    }
    h2{
        text-align: center;
        margin-bottom: 72px;
    }
    .experience{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        position: relative;
        .line{
            position: absolute;
            top: 40px;
        }
        small.content{
            color: $g-800;
        }
        .company{
            display: flex;
            gap: 126px;
            h3{
                color: $g-800;
                width: 350px;
            }
            img{
                width: 24px;
                height: 24px;
            }
            .work{
                width: 350px;
                .job{
                    margin-bottom: 24px;
                    h3{
                        color: $main;
                        margin-bottom: 8px;
                    }
                    p.content{
                        color: $g-700;
                        span{
                            color: $g-900;
                            font-weight: 900;
                        }
                    }
                    ol{
                        padding-left: 1.5rem;
                        li{
                            span{
                                color: $g-900;
                                font-weight: 900;
                            }
                        }
                    }
                }
            }
        }
    }
    .word{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 160px 0;
    }

    .bg-w{
        background-color: $white;
    }
    .bg-b{
        background-color: $g-900;
        h2{
            color: $g-200;
        }
    }
    img.uiux-project{
        margin-top: 56px;
    }
    .section{
        padding-top: 72px;
        padding-bottom: 96px;
        .project-description{
            gap: 32px;
        }
        .description{
            h4{
                margin-bottom: 4px;
            }
        }
        .basic-info{
            margin-top: 88px;
            .item{
                padding-bottom: 40px;
                gap: 48px;
                img{
                    width: 40px;
                    height: 40px;
                }
                .info-content{
                    gap: 20px;
                    .info-block{
                        h4{
                            margin-bottom: 4px;
                        }
                    }
                }
            }
        }
        .info{
            gap: 56px;
            ul.bg-b{
                background-color: $g-800;
                li{
                    button.nav-link{
                        background-color: transparent;
                        color: $g-400;
                    }
                    button.nav-link.active{
                        background-color: $g-900;
                        color: $main;
                    }
                }
            }
            ul.bg-w{
                background-color: $g-200;
                li{
                    button.nav-link{
                        background-color: transparent;
                        color: $g-700;
                    }
                    button.nav-link.active{
                        background-color: $white;
                        color: $main;
                    }
                }
            }
            ul.switch{
                width: 228px;
                height: 48px;
                border-radius: 24px;
                li{
                    button.nav-link{
                        border: 1px solid transparent;
                        padding: 12px 24px;
                        border-radius: 28px;
                        height: 48px;
                    }
                    button.nav-link.active{
                        border: 1px solid $main;
                        box-shadow: 0px 0px 36px rgba(255, 81, 47, 0.2);
                        padding: 8px 24px;
                        border-radius: 28px;
                        height: 48px;
                    }
                }
            }
            .pain-item{
                padding: 48px 0 96px;
                gap: 32px;
                p.highlight{
                    color: $g-400;
                }
            }
            .p02-pain-item{
                padding: 48px 0;
                gap: 88px;
                .p02-pain-description{
                    gap: 40px;
                    min-width: 270px;
                    h1{
                        color: $g-300;
                    }
                    .goals{
                        gap: 16px;
                        h3{
                            color: $main;
                        }
                        p.content{
                            color: $g-400;
                        }
                    }
                }
                .p02-3{
                    small{
                        color: $g-400;
                    }
                    img.p02-pain{
                        opacity: 0.96;
                        border-radius: 16px;
                    }
                }
            }
            .persona-item{
                width: 344px;
                height: 472px;
                background-color: $g-200;
                border-radius: 48px;
                padding: 64px 32px 40px 32px;
                gap: 40px;
                position: relative;
                margin-top: 80px;
                .avatar-bg{
                    width: 110px;
                    height: 110px;
                    background-color: $main;
                    position: absolute;
                    top: -29px;
                    right: 28px;
                    border-radius: 50%;
                }
                figure{
                    margin: 0;
                    img{
                        width: 157px;
                        height: 157px;
                        position: absolute;
                    top: -65px;
                    right: 32px;
                    }
                }
                h3{
                    color: $g-900;
                }
                ul.persona-list{
                    padding-left: 1.2rem;
                    gap: 8px;
                    li{
                        list-style-image: url(../images/icon-check.svg);
                        p{
                            display: inline;
                            color: $g-700;
                            &:first-child{
                                color: $g-900;
                            }
                            &:nth-child(1){
                                padding-left: 8px;
                            }
                            &:nth-child(2){
                                padding-left: 16px;
                            }
                        }
                    }
                }
                p.content{
                    width: 280px;
                    list-style-image: none;
                    list-style-type: none;
                    padding-left: -32px;
                    color: $g-700;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    text-align: justify;
                    letter-spacing: 0.02em;
                }
            }
            .arrow{
                margin: 80px 0;
            }
            .user-target{
                margin-bottom: 40px;
                .target{
                    gap: 32px;
                    width: 336px;
                    height: 336px;
                    border: 1px solid $main;
                    border-radius: 50%;
                    justify-content: center;
                    padding: 104px 48px;
                    background-image: url(../images/target-bg.svg);
                    background-repeat: no-repeat;
                    background-position: bottom right;
                    h3{
                        color: $main;
                        text-align: center;
                    }
                    p{
                        color: $g-700;
                        text-align: center;
                    }
                }
            }
            .note{
                img.note-01{
                    margin-top: 120px;
                    width: 328px;
                }
                .note-02{
                    margin-top: 64px;
                    position: relative;
                    width: 644px;
                    height: 500px;
                    img.note-02-1{
                        position: absolute;
                        top: 0;
                        right: 24px;
                        width: 422px;
                    }
                    img.note-02-2{
                        position: absolute;
                        top: 200px;
                        left: 24px;
                        filter: $dark-shadow;
                        width: 534px;
                    }
                }
            }
            .analysis{
                .analysis-title{
                    h2{
                        color: $g-900;
                    }
                    p.content{
                        color: $g-700;
                    }
                }
                .analysis-content{
                    list-style-image: url(../images/icon-check.svg);
                    gap: 80px;
                    ul{
                        li{
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 120%;
                            letter-spacing: 0.06em;
                            color: $g-800;
                        }
                    }
                }
            }
            .competitor{
                p.content{
                    color: $g-700;
                }
            }
        }
        .flow-content{
            gap: 56px;
            p.content{
                color: $g-400;
            }
        }
        .flow-pic{
            margin-right: 134px;
            img.master-flow{
                width: 521px;
            }
            img.member-flow{
                width: 474px;
            }
        }
        .strategy-item{
            height: 552px;
            margin: 48px;
            gap: 88px;
            .strategy-description{
                justify-content: center;
                gap: 32px;
                min-width: 245px;
                .goals{
                    gap: 12px;
                    h3{
                        color: $main;
                        &:nth-child(2){
                            color: $g-800;
                        }
                    }
                }
                p.content{
                    color: $g-700;
                }
            }
            img{
                min-height: 456px;
                height: 50vh;
                margin: auto 0;
            }
            .share-mobile{
                position: relative;
                img.share{
                    position: absolute;
                    width: 275px;
                    top: 190px;
                    left: -31.5px;
                    height: 89px;
                    min-height: 89px;
                    border: 0;
                    filter: $dark-shadow;
                }
            }
            .p02-02{
                position: relative;
                img.p02-02-2{
                    position: absolute;
                    top: -12px;
                    left: -83px;
                    height: 110px;
                    border: 0;
                    filter: $dark-shadow;
                }
            }
            .p02-03{
                img.p02-03-1{
                    width: 434px;
                    height: auto;
                    border: 0;
                    border-radius: 0;
                }
                img.p02-03-2,.p02-03-3,.p02-03-4{
                    height: 127px;
                    border: 0;
                    border-radius: 0;
                }
            }
            .p02-04{
                position: relative;
                img.p02-04-2{
                    width: 334px;
                    height: 233px;
                    border: 0;
                    border-radius: 0;
                    position: absolute;
                    right: -24px;
                    bottom: 80px;
                }
            }
        }
        .layout{
            .layout-01{
                height: 20%;
                border-left: 2px solid $g-400;
                padding-left: 24px;
                justify-content: center;
                h3{
                    color: $main;
                }
                p.highlight{
                    color: $g-400;
                }
            }
            .layout-02{
                height: 80%;
                border-left: 2px solid $g-400;
                padding-left: 24px;
                justify-content: center;
                h3{
                    color: $main;
                }
                p.highlight{
                    color: $g-400;
                }
            }
        }
    }
    .ui-kit{
        margin-bottom: -80px;
        object-fit: cover;
    }
    img.demo{
        margin-bottom: 180px;
        width: 236px;
    }
    img.website{
        width: 403px;
    }
    .p01{
        padding: 88px 0 104px;
        background-image: url(../images/p01-master-review.png);
        .review{
            gap: 72px;
            h2{
                color: $main;
                margin-bottom: 0;
            }
            p.highlight{
                color: $g-200;
            }
            p.content{
                color: $g-500;
            }
        }
    }
    .p01-member{
        padding: 88px 0 104px;
        background-image: url(../images/p01-member-review.png);
        .review{
            gap: 72px;
            h2{
                color: $main;
                margin-bottom: 0;
            }
            p.highlight{
                color: $g-200;
            }
            p.content{
                color: $g-500;
            }
        }
    }
    .p02{
        padding: 88px 0 104px;
        background-image: url(../images/p02-review.png);
        .review{
            gap: 72px;
            h2{
                color: $main;
                margin-bottom: 0;
            }
            p.highlight{
                color: $g-200;
            }
            p.content{
                color: $g-500;
            }
        }
    }
    .other-project{
        button.previous,.next{
            width: 50%;
            height: 230px;
            border: 0;
            background-color: $g-900;
            border-bottom: 1px solid $g-700;
            transition: all 0.3s ease;
            position: relative;
            .previous-title,.next-title{
                h4{
                    color: $g-600;
                    font-weight: normal;
                }
            }
            h1{
                color: $g-300;
            }
            .uiux-01{
                width: 185px;
                height: 141px;
                z-index: 1;
                background-image: url(../images/p01-master-display-06-m.png);
                position: absolute;
                bottom: 0;
                opacity: 0;
                transition: all 0.5s ease;
                overflow: hidden;
            }
            .uiux-02{
                width: 185px;
                height: 141px;
                z-index: 1;
                background-image: url(../images/p02-display-06-m.png);
                position: absolute;
                bottom: 0;
                opacity: 0;
                transition: all 0.5s ease;
                overflow: hidden;
            }
            .uiux-03{
                width: 185px;
                height: 141px;
                z-index: 1;
                background-image: url(../images/p03-display-06-m.png);
                position: absolute;
                bottom: 0;
                opacity: 0;
                transition: all 0.5s ease;
                overflow: hidden;
            }
            &:hover{
                opacity: 0.9;
                .uiux-01{
                    bottom: 0;
                    opacity: 0.1;
                }
                .uiux-02{
                    bottom: 0;
                    opacity: 0.1;
                }
                .uiux-03{
                    bottom: 0;
                    opacity: 0.1;
                }
            }
        }
    }
}
#ability{
    background-image: url(../images/ability.svg);
    background-repeat: no-repeat;
    background-position: top 12px left 0;
}
#search{
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position: top 4px left 0;
}
#persona{
    background-image: url(../images/persona.svg);
    background-repeat: no-repeat;
    background-position: top 20px left 0;
}
#user-flow{
    background-image: url(../images/userflow.svg);
    background-repeat: no-repeat;
    background-position: top 4px left 0;
}
#notes{
    background-image: url(../images/notes.svg);
    background-repeat: no-repeat;
    background-position: top 4px left 0;
}
#strategy{
    background-image: url(../images/strategy.svg);
    background-repeat: no-repeat;
    background-position: top 12px left 0;
}
#ui-display{
    background-image: url(../images/uidisplay.svg);
    background-repeat: no-repeat;
    background-position: top 4px left 0;
}
#analysis{
    background-image: url(../images/analysis.svg);
    background-repeat: no-repeat;
    background-position: top 4px left 0;
}
#goal{
    background-image: url(../images/goal.svg);
    background-repeat: no-repeat;
    background-position: top 4px left 0;
}
#layout{
    background-image: url(../images/layout.svg);
    background-repeat: no-repeat;
    background-position: top 4px left 0;
}
@media (max-width:1160px){
    body{
        .section{
            .info{
                .persona-item{
                    width: 320px;
                    p.content{
                        width: 100%;
                    }
                }
                .user-target{
                    .target{
                        padding: 104px 32px;
                        width: 320px;
                        height: 320px;
                    }
                }
            }
        }
    }
}
@media (max-width:992px) {
    body{
        .title{
            margin-top: 96px;
        }
        .introduce{
            flex-direction: column;
            .basic-info{
                align-items: center;
                .my-info{
                    align-items: center;
                    gap: 16px;
                    h2{
                        text-align: center;
                    }
                    div{
                        align-items: center;
                    }
                }
            }
        }
        .skill{
            gap: 16px;
            margin-top: 72px;
            margin-bottom: 64px;
            .figma{
                width: 24px;
                height: 24px;
                background-image: url(../images/figma-default-m.png);
            }
            .ai{
                width: 24px;
                height: 24px;
                background-image: url(../images/ai-default-m.png);
            }
            .ps{
                width: 24px;
                height: 24px;
                background-image: url(../images/ps-default-m.png);
            }
            .h5{
                width: 24px;
                height: 24px;
                background-image: url(../images/h5-default-m.png);
            }
            .sass{
                width: 24px;
                height: 24px;
                background-image: url(../images/sass-default-m.png);
            }
            .bs{
                width: 24px;
                height: 24px;
                background-image: url(../images/bs-default-m.png);
            }
            .js{
                width: 24px;
                height: 24px;
                background-image: url(../images/js-default-m.png);
            }
            .git{
                width: 24px;
                height: 24px;
                background-image: url(../images/git-default-m.png);
            }
        }
        .experience{
            .company{
                h3{
                    width: auto;
                }
            }
        }
        .experience-mobile{
            position: relative;
            .line{
                position: absolute;
                top: 12px;
                left: 23.5px;
            }
            img{
                width: 24px;
                height: 24px;
            }
            h3.experience-title{
                color: $main;
                margin-bottom: 8px;
            }
        }
        .project-title{
            margin-bottom: 32px;
        }
        .section{
            padding-top: 40px;
            padding-bottom: 64px;
            .basic-info{
                margin-top: 40px;
                .item{
                    gap: 16px;
                }
            }
            .info{
                gap: 40px;
                .pain-item{
                    padding: 16px 0 16px;
                }
                .note{
                    gap: 72px;
                    img.note-01{
                        margin-top: 24px;
                        width: 308px;
                    }
                    .note-02{
                        margin-top: 24px;
                        width: 100%;
                        img.note-02-1{
                            width: 80%;
                            right: 12px;
                        }
                        img.note-02-2{
                            width: 80%;
                            left: 12px;
                        }
                    }
                }
                .flow-pic{
                    margin-right: 0;
                    img.master-flow{
                        width: 100%;
                        margin-top: 24px;
                    }
                    img.member-flow{
                        width: 100%;
                        margin-top: 24px;
                    }
                }
                .strategy-item{
                    gap: 32px;
                    margin: 0 0 48px 0;
                    align-items: center;
                    height: auto;
                    .strategy-description{
                        gap: 16px;
                        .goals{
                            gap: 6px;
                        }
                    }
                    img{
                        height: auto;
                        flex-grow: 1;
                    }
                    img.mor-pic{
                        width: 30%;
                    }
                }
                .persona-item{
                    width: 100%;
                    height: auto;
                }
                .user-target{
                    gap: 16px;
                }
                .p02-pain-item{
                    gap: 24px;
                    padding: 24px 0;
                    .p02-3{
                        img.p02-pain{
                            border-radius: 8px;
                        }
                    }
                    .p02-pain-description{
                        gap: 24px;
                        .goals{
                            gap: 8px;
                        }
                    }
                    img.mor-pic{
                        width: 100%;
                    }
                }
                .analysis{
                    gap: 24px;
                    .analysis-content{
                        gap: 40px;
                        ul{
                            padding-left: 16px;
                            li{
                                font-size: 18px;
                            }
                        }
                        img{
                            width: 100%;
                        }
                    }
                }
                .competitor{
                    img{
                    width: 100%;       
                    }
                }
                .strategy-item{
                    img{
                        width: 100%;
                    }
                    img.p02-02-1{
                        width: 80vw;
                    }
                    img.p02-02-2{
                        width: 80vw;
                        height: auto;
                        left: -16px;
                    }
                    .p02-03{
                        img.p02-03-1{
                            width: 100%;
                        }
                        img.p02-03-2,img.p02-03-3,img.p02-03-4{
                            width: 30%;
                            height: auto;
                        }
                    }
                    .p02-04{
                        img.p02-04-1{
                            width: 80vw;
                            height: auto;
                        }
                    }
                }
                .layout-pic{
                    width: 30vw;
                }
                .layout{
                    .layout-01{
                        padding-left: 8px;
                        justify-content: end;
                    }
                    .layout-02{
                        padding-left: 8px;
                    }
                }
            }
        }
        .ui-kit{
            margin-bottom: -24px;
        }
        img.demo{
            margin-bottom: 32px;
        }
        .other-project{
            button.previous,.next{
                width: 100%;
                height: 140px;
                h1{
                    font-size: 24px;
                }
            }
            button.previous{
                border: 0;
            }
            button.next{
                padding-bottom: 40px;
            }
        }
    }
    #ability,#search,#persona,#user-flow,#notes,#strategy,#ui-display,#analysis,#goal,
    #layout{
        background-size: 30vh;
    }
}
@media (max-width:320px){
    body{
        .section{
            .info{
                .user-target{
                    .target{
                        padding: 104px 32px;
                        width: 300px;
                        height: 300px;
                    }
                }
            }
        }
    }
}
